on:
  workflow_call:
    inputs:
      mainProjectPath:
        required: true
        type: string
      testProjectPath:
        required: true
        type: string
      runsOn:
        required: false
        default: ubuntu-22.04
        type: string
      publish:
        required: false
        type: string
    secrets:
      nuget:
        required: true

jobs:
  build-test-publish:
    runs-on: ${{ inputs.runsOn }}
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - name: checkout source
        uses: actions/checkout@v2
      - name: setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.x
            9.x
            10.x
      - name: restore main project
        run: dotnet restore "${{ inputs.mainProjectPath }}"
      - name: build main project
        run: dotnet build "${{ inputs.mainProjectPath }}" --configuration Release --no-restore
      - name: restore test project
        run: dotnet restore "${{ inputs.testProjectPath }}"
      - name: build test project
        run: dotnet build "${{ inputs.testProjectPath }}" --configuration Release --no-restore
      - name: run tests
        run: dotnet test "${{ inputs.testProjectPath }}" --configuration Release --no-restore --no-build
      - name: publish to nuget
        if: ${{ inputs.publish == 'true' }}
        shell: pwsh
        run: |
          dotnet pack "${{ inputs.mainProjectPath }}" --configuration Release --include-symbols --no-restore --no-build --output .artifacts
          get-childitem ./.artifacts/*.nupkg | where-object { $_.Name -notlike "*.symbols.nupkg" } | foreach-object { dotnet nuget push $_ --api-key ${{ secrets.nuget }} --source https://api.nuget.org/v3/index.json }
      - name: tag source
        if: ${{ inputs.publish == 'true' }}
        continue-on-error: true
        shell: pwsh
        run: |
          $app = [System.IO.Path]::GetFilenameWithoutExtension("${{ inputs.mainProjectPath }}")
          $version = select-string -path "${{ inputs.mainProjectPath }}" -pattern "<version>(?<version>.*)</version" | % { $_.Matches[0].Groups['version'] }
          if (!$version) {
            write-error "version not found"
          }
          $tag = $app + "_" + $version
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git tag -a $tag -m $tag
          git push origin --tags
